<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Garbage Image Classifier</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>

    <div class="header">
        <a href="#default" class="logo">ADD LOGO HERE</a>
        <div class="header-right">
          <a class="active" href="#home">Home</a>
          <a href="#how_it_works">How it works</a>
          <a href="{{ url_for('contact_us') }}">Contact us</a>
        </div>
    </div>

    <div class="container">
        <input type="file" id="file-input" multiple />
        <label for="file-input">
            <i class="fa-solid fa-arrow-up-from-bracket"></i>
            &nbsp; Choose Files To Upload
        </label>
        <div id="num-of-files">No Files Choosen</div>
        <ul id="files-list"></ul>
        </div>
    </div>

  </body>
</html>